/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{ 
  overflow-x: hidden;
}
h1{
	color: @se-teal;
	font-family: @font-brandon; 
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
}
h2{
	display: inline-block;
	color: @se-teal;
	background-color: @white;
	font-family: @font-brandon;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	padding: 15px 30px;
	border-bottom: 2px solid @se-teal;
}
h3{
	color: @se-teal;
	font-family: @font-brandon;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 30px;
	text-align: center;
}
h4{
	color: @white;
	font-family: @font-brandon;
	text-transform: uppercase;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	padding: 15px 0 0;
	margin: 0;
}
p{
	color: @se-gray;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	font-family: @font-nova;
	//margin-bottom: 0;
	&.right{
		text-align: right;
	}
}
*:focus{
	text-decoration:none !important;
	outline: 0 !important;
	//color: inherit !important;
}
a{
	color: @se-teal;
	&:hover,
	&:active{
		color: @se-teal;
	}
}
a.button{
	display: inline-block;
	color: @se-orange;
	font-family: @font-brandon;
	text-transform: uppercase;
	padding: 5px 0;
	border-top: 2px solid @se-orange;
	border-bottom: 2px solid @white;
	background-color: @white;
	font-size: 10px;
	font-weight: 600;
	margin-top: 15px;
	&:hover,
	&:active{
		text-decoration: none;
		border-top: 2px solid @white;
		border-bottom: 2px solid @se-orange;
	}
	&.white{
		color: @white;
		background-color: transparent;
		border-top: 1px solid @white;
		border-bottom: 1px solid transparent;
		margin-top: 5px;
		&:hover,
		&:active{
			border-top: 1px solid transparent;
			border-bottom: 1px solid @se-orange;
			color: @se-orange;
		}
	}
}
input.button{
	display: inline-block;
	color: @se-orange;
	font-family: @font-brandon;
	text-transform: uppercase;
	padding: 5px 0;
	border: none;
	border-top: 2px solid @se-orange;
	border-bottom: 2px solid @white;
	background-color: @white;
	font-size: 14px;
	font-weight: 600;
	margin-top: 15px;
	&:hover,
	&:active{
		border-top: 2px solid @white;
		border-bottom: 2px solid @se-orange;
	}
}
a.svg{
	display: inline-block;
}
.full{
	width: 100%;
}
.center{
	text-align: center;
}
object{
	pointer-events: none;
}
.paragraph-large p{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}

/*
.svg-container{
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
*/

//Mobile Drawer -------------------
#content_container {
  background-color: @white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    /*
-webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
*/

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: @white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: @white;
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          a{
            color: @se-orange;
          }
          ul li a{
            background-color: @white;
            color: blue;
            &:hover,
            &:active{
              color: @se-orange;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: @se-orange;
          }
        }
        ul{
          li{
            a{
              color: blue;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: @gray-lighter;
              color: green;
            }
          }
        }
        a{
          color: @se-gray;
          font-family: @font-brandon;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 12px;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-light;
          &:hover,
          &:active{
            color: @se-orange;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
    }
  }//snap_drawer
}//snap_drawers
.snap-trigger-left{
	cursor: pointer;
}

//header
header{
	padding-top: 15px;
	.logo{
		width: 80%;
	}
	nav{
		ul{ //top level
			list-style: none;
			padding: 0;
			margin: 0;
			float: right;
			li{
				float: left;
				&.last{
					padding-right: 0;
				}
				a{
					text-decoration: none;
					display: block;
					color: @se-gray;
					padding: 35px 10px 18px 10px;
					font-family: @font-brandon;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 12px;
					border-bottom: 2px solid white;
					&:hover,
					&:active,
					&:focus{
						color: @se-orange;
						text-decoration: none;
						border-bottom: 2px solid @se-orange;
					}
				}
				&.active{
					a{
						color: @se-orange;
						border-bottom: 2px solid @se-orange;
					}
				}
			}
		}
	}
	.sub-nav-wrapper{
		background-color: @se-teal-light;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				font-size: 12px; 
				a,
				a:active,
				a:visited{
					color: @se-gray-dark;
					font-family: @font-brandon;
					text-decoration: none;
					display: block;
				}
				&.parent{
					font-weight: bold;
					text-transform: uppercase; 
					margin-top: 15px;
					a:hover,
					a:active,
					&.active a{
						color: @se-orange;
						text-decoration: none;
					}
				}
				.title{
					
				}
				ul{
					margin-left: 15px;
					margin-bottom: 15px;
					li{
						text-transform: none;
						font-weight: lighter;
						float: none;
						a,
						a:active,
						a:visited,
						a:hover{
							font-family: @font-nova;
						}
						&.active a{
							color: @se-orange;
						}
					}
				}
			}
		}
	}
}

#range_3,
#range_2, 
#range_1,
#range_0{
	header{
		height: 70px;
		.logo{
		object{
				max-height: 42px;
			}
		}
	}
	.snap-trigger-left{
		margin-top: 5px;
		object{
			width: 30px;
		}
		svg{
			width: 30px;
			height: 30px;
			&:hover path{
				fill: @se-orange;
			}
		}
	}
}
//footer
footer{
	background-color: @se-gray-dark;
	padding-top: 15px;
	hr{
		border-top: 2px solid @se-orange;
		width: 75px;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	img{
		padding-right: 15px;
	}
	p{
		color: @white;
	}
	.sub-footer{
		background-color: @se-gray;
		padding-top: 10px;
		margin-top: 30px;
	}
	h4{
		font-size: 14px;
	}
	a{
		color: @white;
		&:hover,
		&:active{
			color: @se-orange;
			text-decoration: none;
		}
	}
	.sitemap-block{
		float: left;
		margin-right: 30px;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				margin: 0;
				padding: 0;
				a{
					padding-bottom: 10px;
					display: block;
					text-transform: uppercase;
					font-family: @font-brandon;
					font-size: 11px;
					&:hover,
					&:active,
					&:focus{
						text-decoration: none;
						color: @se-orange;
					}
				}
			}
		}//ul
	}//.sitemap-block
	.social-icons{
		a{
			float: left;
			width: 25px;
			height: 25px;
			margin-right: 10px;
			margin-bottom: 10px;
			position: relative;
			svg{
				width: 25px;
				height: 25px;
				&:hover path{
					fill: @se-orange;
				}
			}
		}
	}
	.newsletter,
	.newsletter:visited,
	.newsletter:active{
		color: @white;
		display: inline-block;
		background-color: @se-orange;
		padding: 5px 10px;
		text-transform: uppercase;
		font-size: 12px;
		font-family: @font-brandon;
		margin-bottom: 5px;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus{
			color: @white;
			text-decoration: none;
			background-color: darken(@se-orange, 10%);
		}
	}
	.bat-signal{
		padding-right: 24px;
		background: url("/assets/img/elements/KR_Icon_17x17.svg") center right no-repeat transparent;
	}
}
#range_0,
#range_1,
#range_2,
#range_3{
	footer{
		padding-top: 0;
		h4{
			padding-top: 45px;
		}
	}
}

#range_0,
#range_1,
#range_2,
#range_3{
	.sub-footer p{
		text-align: center;
	}
}

//homepage
.banner{
	text-align: center;
	background-color: @se-teal-light;
	padding: 30px 0;
	h1{
		margin-top:5px;
		margin-bottom: 4px;
	}
	&.backstretch-target{ 
		padding: 75px 0;
		h1{
			color:white;
		}
		img{
			bottom: 0 !important;
			top: auto !important;
		}
	}
	&.homepage{
		h1{
			margin-top: 25px;
		}
		h2{
			//margin-bottom: 100px;
		}
	}
	h3{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.banner-content p{
		padding-top: 18px;
		font-size: 14px;
		line-height: 26px;
		text-align: center;
		margin-bottom: 2px;
	}
	.banner-content.paragraphs p{
		font-size: 14px;
		text-align: justify;
		line-height: 26px;
	}
	.banner-content-condensed{
		margin-bottom: -4px;
	}
	.banner-content-condensed p{
		padding-top: 15px;
		font-size: 14px; 
		line-height: 26px;
		text-align: justify;
		strong{
			font-size: 18px;
			line-height: 28px;
			display:block;
			text-align: center;
		}
	}
	a.button{
		background-color: transparent;
		border-bottom-color: transparent;
		&:hover{
			border-bottom-color: @se-orange;
			border-top-color: transparent;
		}
	}
	&.small{
		max-height: 225px;
		h1, h2{
			margin-top: 125px;
			color: @se-teal;
			display:inline-block;
			background-color: white;
			padding: 7px 23px;
			border-bottom: 2px solid @se-teal;
			font-size:24px;
		}
	}
	&.homepage{
		max-height: 340px;
		h2{
			margin-top: 218px; 
			color: @se-teal;
			display:inline-block;
			background-color: white;
			padding:12px 27px;
			border-bottom: 2px solid @se-teal;
		}
	}
}

body.page-41 .banner img,
body.page-40 .banner img{
	top: 0 !important;
}

//content blocks
.content-block-wrapper{
	border-bottom: 1px solid @se-gray-light;
	&.bottom{
		border-bottom: none;
		&.solo{
			border-top: 1px solid @se-gray-light;
		}
	}
	&.homepage,
	&.wwd-first{
		margin-top: 22px;
		h3{
			padding-top: 20px;
		}
	}
	.content-block{
		position: relative;
		float: left;
		text-align: center;
		border-right: 1px solid @se-gray-light;
		padding-bottom: 30px;
		//padding-top: 20px;
		&.last,
		&.last_1{
			border-right: none;
		}
		&.active{
			background-color: @se-orange;
			h3,p{
				color: @white;
			}
		}
		h3,p{
			padding-left: 15px;
			padding-right: 15px;
		}
		a.button{
			//position: absolute;
			bottom: 15px;
			//right: 40%;
			position:relative !important;
			right: auto !important;
			margin-top: 25px !important;
			&:hover,
			&:active{
				color: @white;
				border-bottom-color: @white;
				border-top-color: @se-orange;
				background-color: @se-orange;
			}
			@media(max-width: 590px){
				
			}
		}
		p{
			text-align: center;
		}

	}
}
.type-8 .content-block p{
	text-align: center;
	padding: 0;
}
.content-block-large{
	padding-bottom: 30px;
	text-align: center;
	float: left;
	&.active{
		background-color: @se-orange;
		h3,p{
			color: @white;
		}
	}
	p{
		font-size: 14px;
		line-height: 24px;
		text-align: center;
	}
	a:hover,
	a:active{
		color: @white;
		border-bottom-color: @white;
		border-top-color: @se-orange;
		background-color: @se-orange;
	}
}
.page-1 .content-block-large p{
	text-align: center;
}

#range_0,
#range_1,
#range_2 .parent-2,
#range_3 .parent-2{
	.content-block-wrapper{
		.content-block{
			border-bottom: 1px solid @se-gray-light;
			border-right: none;
			&.last{
				border-bottom: none;
			}
		}
	}
}
#range_2 .parent-2,
#range_3 .parent-2{
	.content-block-wrapper .content-block a{
		right: 45%;
	}
}

#range_0,
#range_1,
#range_2,
#range_3{
	.content-block-large a:hover,
	.content-block-wrapper .content-block a:hover,
	.content-block-large a:active,
	.content-block-wrapper .content-block a:active{
		color: @se-orange;
		border-top-color: @white;
		border-bottom-color: @se-orange;
		background: @white;
	}
}

//content pages
.content{
	padding-bottom: 20px;
	padding-top: 50px;
	h1{
		text-align: center;
		padding: 60px 0 40px 0;
	}
	table{
		td{
			padding-right: 30px;
			vertical-align: top;
		}
	}
	ul{
		li{
			color: @se-gray-dark;
			font-family: @font-nova;
			list-style-type:none;
			margin-left: -16px;
			padding-left: 15px;
			line-height: 24px;
			&:before {
		    content: "• ";
		    color: @se-gray-dark;
		    padding-right: 8px;
		    font-size: 17px;
		    margin-left: -17px; 
	    }
		}
	}
	.col-md-10{
		p{
			text-align: justify;
			font-size: 14px;
		}	
	}
	img{
		display: block;
		margin: 0 auto;
	}
	form{
		margin-top: 20px;
	}
}
#range_0, 
#range_1,
#range_2{
	.content img{
		margin-bottom: 30px;
	}
}

// who we hire
.image-blocks{
	img{
		min-width: 100%;
		min-height: 100%;
		left: 0;
	}
	.main-image{
		//margin-right: -15px;
		height: 500px;
		overflow: hidden;
		position: relative;
		padding: 0;
		.overlay-info{
			position: absolute;
			width: 100%;
			height: auto;
			bottom: 0;
			padding: 15px;
			h4{
				font-size: 40px;
				line-height: 46px;
				font-weight: 500;
				margin-bottom: 15px;
			}
			h4,p{
				color: @white;
			}
			.button.white:hover,
			.button.white:active{
				color: @white;
				border-bottom-color: @white;
			}
		}
	}
	.small-image{
		position: relative;
		height: 250px;
		padding: 0;
		overflow: hidden;
		.overlay-info{
			background: url("/assets/img/elements/orange-bg.png") top left transparent;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			padding: 18px;
			h4{ 
				font-size: 20px;
				margin-bottom: 15px;
			}
			h4,p{
				color: @white;
				text-align: center;
			}
			.button.white:hover,
			.button.white:active{
				color: @white;
				border-bottom-color: @white;
			}
			p{
				line-height: 21px;
			}
		}
	}
}
.js{
	.small-image{
		.overlay-info{
			display: none;
		}
	}
}
#range_2,
#range_1,
#range_0{
	.image-blocks{
		.main-image img,
		.small-image img{
			min-width: 100%;
			min-height: 100%;
			left: 0;
		}
	}
}
.awards-wrapper{
	border-bottom: 1px solid @se-gray-light;
	padding-bottom: 30px;
	margin-bottom: 15px;
	.cycle-slide{
		width: 100%;
	}
	.award{
		text-align: center;
		width: 33.33%;
		float: left;
		padding: 0 5px;
		img{
			max-width: 124px;
			@media(max-width: 590px){
				max-width: 100%;
				padding: 0 10px;
			}
		}
	}
	.arrow{
		width: 100%;
		height: 31px;
		display:block;
		cursor: pointer;
		margin: 44px auto 0 auto;
		&.prev{
			background: url("/assets/img/elements/WhoWeHire_LeftArrow_14x31.svg") center center no-repeat transparent;
		}
		&.next{
			background: url("/assets/img/elements/WhoWeHire_RightArrow_14x31.svg") center center no-repeat transparent;
		}
	}
	h3{
		margin-bottom: 40px;
	}
}

#range_0,
#range_1{
	.awards-wrapper .arrow{
		position: absolute;
		min-width: 30px;
		@media(max-width: 480px){
			margin-top: 38px;
		}
		@media(max-width: 400px){
			margin-top: 26px;
		}
		@media(max-width: 315px){
			display:none;
		}
		&.prev{
			left: 0;
		}
		&.next{
			right: 0;
		}
	}
	.awards-wrapper .col-xs-10{
		@media(max-width: 380px){
			margin-right: -5px;
		}
		@media(max-width: 340px){
			margin-right: -10px;
		}
		@media(max-width: 315px){
			width: 100%;
		}
	}
}

#jobs{
	.col-md-12 p{
		padding-left: 15px;
		padding-right: 15px;
	}	
}

.job-posts-container{
	margin-top: 30px;
	.job-post{
		text-align: center;
		margin-bottom: 60px;
		h4{
			color: @se-teal;
			text-align: center;
			padding: 0 15px;
			margin-bottom: 15px;
		}
		p{
			padding: 0 15px;
			text-align: justify;
		}
		ul{
			li{
				text-align: left;
				padding-bottom: 6px;
			}
		}
	}
}

.team{
	padding-top: 50px;
	text-align: center;
	margin-bottom: 35px;
	.team-member-row{
		width: 100%;
		float:left;
	}
	.col-md-4{
		min-height: 346px;
		&:last-child{  
			//width: 100%;
			a.popup-trigger{
				display:block;
				width: 194px;
				margin: 0 auto;
			}
		}
	}
	.team-double-row{
		&:nth-child(1),
		&:nth-child(2){
			width: 35%;
			@media(max-width: 723px){
				width: 100%;
			}
		}
		&:nth-child(1){
			margin-left: 15%;
			@media(max-width: 723px){
				margin-left: 0;
			}
		}
	}
	.team-single-row{
		width: 100%;
	}
	img{
		display: block;
		margin: 25px auto 15px auto;
		border-bottom: 2px solid @se-teal;
		padding: 0 15px;
	}
	a{
		color: @se-gray-dark;
		&:hover,
		&:active{
			color: @se-orange;
			text-decoration:none;
		}
	}
	/*a.icon-vcard{
		background: url("/assets/img/elements/OurStory_ContactIcon_24x22.svg") center center no-repeat transparent;
		width: 24px;
		height: 22px;
		display: inline-block;
		margin: 10px 0 0 -30px;
		position: absolute;
		svg{
			width: 24px;
			height: 22px;
			path{ 
				fill: white;
			}
		}
	}

	a.icon-mail{
		background: url("/assets/img/elements/OurStory_MailIcon_28x19.svg") center center no-repeat transparent;
		width: 28px;
		height: 22px;
		display:inline-block;
		margin: 10px 0 30px 5px;
		position: absolute;
		svg{
			width: 28px;
			height: 22px;
			path{ 
				fill: white;
			}
		}
	}
	*/
	ul{ 
		li{
			padding-bottom: 6px;
		}
	}
	.popup-container{
		.popup{
			padding:0;
			background-color: @se-orange;
			@media(min-width: 723px){
				max-width: 640px;
				margin: 0 auto;
				position:relative;
			}
		}
		.popup-close{
			position: absolute;
			right: 15px;
			top: 15px;
			color: white;
			&:hover,
			&:active{
				color: white;
				text-decoration:none;
			}
		}
		.top{
			width: 100%; 
			display:table;
		}
		.left,
		.right{
			width: 50%;
		}
		.left{
			background-color: white;
			text-align: center;
			display:table-cell;
			vertical-align:top;
		}
		.right{ 
			background-color: @se-orange;
			text-align: left;
			padding-left: 20px;
			padding-bottom: 15px;
			display:table-cell;
			vertical-align:top;
			padding-right: 20px;
			font-size: 20px;
			line-height: 28px;
			h3{
				color: white;
				text-align: left;
				margin: 30px 0 5px 0;
				font-size: 20px;
			}
			span{
				color: white;
				display:block;
				-webkit-font-smoothing: antialiased;
				strong{
					margin-top: 15px;
					font-size: 18px;
					display:block;
					-webkit-font-smoothing: subpixel-antialiased;
				}
			}
		}
		.bottom{
			color: white;
			padding: 30px 10%;
			clear:both;
			background-color: white;
			border-top: 2px solid @se-teal;
		}
		img{
			margin: 0px auto;
			padding: 0;
		} 
		a.icon-vcard,
		a.icon-mail{ 
			margin: 24px 0 0 0;
			background-image: none;
			position:relative;
		}
		a.icon-vcard{ 
			margin-right: 10px;
		}
		img{
			border: 0;
		}
		p{
			text-align: justify;
		}
	}
}

.testimonial{
	font-size: 20px;
	font-style: italic;
	color: @se-teal;
	text-align: center;
	line-height: 30px;
	font-family: @font-nova;
	&.col-md-6{
		font-size: 16px;
		line-height: 26px;
		padding-left:30px;
		&:first-child{
			padding-left: 0;
			padding-right: 30px;
		}
	}
	.icon-quote{
		font-size: 70px;
		background-color: @se-teal;
		color: white;
		height: 40px;
		width: 40px;
		line-height: 77px;
		display:block;
		font-style: normal;
		margin: -48px auto 30px auto;
	}
	.name{
		font-style:normal;
		color: @se-gray-dark;
		font-size: 14px;
		display: block;
		margin: 15px 0 0 0;
	}
}

.state-map{
	font-family: @font-nova;
	font-size: 12px;
	text-transform: uppercase;
	object{
		width: 75%;
		margin-bottom: -19%;
		margin-top: -19%;
	}
	.right{
		text-align:right;
	}
	.left{
		text-align: left;
	}
	.state-map-label{
		width: 25%;
		float:left;
	}
	.state-map-labels{
		padding: 0 10%;
	}
}

#range_0,
#range_1{
	.state-map{
		font-size: 12px;
	}
}
#range_2{
	.state-map{
		font-size: 14px;
	}
}

.serve-lists{
	padding-top: 30px;
	padding-bottom: 100px;
	ul{
		list-style-type: none;
		text-align: center;
		padding: 0;
		li{
			width: 100%;
			padding: 0;
			margin-bottom: 15px;
		}
	}
	.col-md-4{
		padding-top:30px;
		padding-bottom: 30px;
	}
}
#range_2,
#range_1,
#range_0{
	.serve-lists{
		padding-top: 0;
		margin-top: -15px;
		.col-md-8{
			margin-top:-15px;
			margin-bottom: -15px;
		}
		h3{
			margin-top: 45px;
		}
	}
}

.numbers-container{
	font-size: 14px;
	text-align: center;
	font-family: @font-nova;
	padding-bottom: 5px;
	margin-top: -5px;
	span{
		font-size: 75px;
		color: @se-teal;
		font-weight: bold;
		display:block;
		font-family: @font-brandon;
		margin-bottom: -10px;
	}
}

.type-4 .col-xs-height{
	width: 33.33%;
	@media(max-width: 590px){
		width: 100%;
		clear:both;
		float:left !important;
	}
}


body.popup-open{
	overflow-y:hidden;
	margin-right: 15px;
	#content_container{
		-webkit-backface-visibility: visible;
	}
}

.popup-container{
	background-color: @se-teal-transparent;
	display:none;
	width: 0px;
	height: 0px;
	position: fixed;
	top: 50%;
	right:50%;
	left: 50%;
	bottom: 0;
	z-index: 3000;
	overflow-y: scroll;
	padding: 50px 20%;
	display: none;
	opacity: 0;
	.popup{
		background-color: white;
		display:none;
		padding: 30px;
	}
	&.full{
		background-color: @se-orange;
		.popup{
			background-color: transparent;
			color: white;
		}
		h1{
			color: white;
		}
		a.popup-close{
			color: white;
			&:hover,
			&:active{
				color: white;
			}
		}
	}
	&.error-open{
		display: block;
		opacity: 1;
		width: 100%;
		height: 100%;
		margin-left: -50%;
		top: 0;
		.popup{
			display: block;
		}
	}
}
.popup-close{
	color: @se-teal;
	float: right;
	font-size: 16px;
	&:hover,
	&:active{
		text-decoration: none;
	}
}
#range_2,
#range_1,
#range_0{
	.popup-container{
		padding: 50px 15px;
	}
}

.contact-info h3,
.contact-extra .col-md-4 h3{
	font-weight: 500;
	padding-top: 35px;
}
.contact-info,
.contact-extra{
	border: 0;
}
.contact-extra-title{
	border-bottom: 1px solid @se-gray-light;
	max-width: 100%;
	h3{
		margin: 30px 0 27px 0;
	}
}

form{
	.error{
		color: @se-orange;
	}
	input[type="submit"]{
		font-size: 10px;
	}
}

#contact-form{
	input,
	textarea{
		border: 0;
		width: 100%;
		padding: 5px;
		margin-top: 30px;
	}
	input[type="submit"]{
		background-color: white;
		color: @se-orange;
		width: inherit;
		padding: 5px 10px 4px 10px;
		text-transform: uppercase;
		font-family: @font-nova;
		font-weight: 500;
		font-size: 10px;
		&:hover,
		&:active{
			background-color: @se-orange;
			color: white;
			border: 2px solid white;
		}
	}
	label{
		text-align: left;
		font-weight: normal;
		margin-bottom: -24px;
		margin-top: 10px;
		float:left;
		display: none;
	}
	.error{
		color: white;
	}
}

a.icon-vcard{
		background: url("/assets/img/elements/OurStory_ContactIcon_24x22.svg") center center no-repeat transparent;
    	width: 24px;
    	height: 22px;
    	display: inline-block;
    	margin: 10px 0 0 -30px;
    	position: relative;
    	float: left;
    	left: 50%;
		svg{
			width: 24px;
			height: 22px;
			path{ 
				fill: white;
			}
		}
	}

	a.icon-mail{
		background: url("/assets/img/elements/OurStory_MailIcon_28x19.svg") center center no-repeat transparent;
    	width: 28px;
    	height: 22px;
    	display: inline-block;
    	margin: 10px 0 30px 5px;
    	position: relative;
    	float: left;
    	left: 50%;
		svg{
			width: 28px;
			height: 22px;
			path{ 
				fill: white;
			}
		}
	}

	.vcard-mail-div {
		position: relative;
		left: 50%;
	}