/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table;
  width: 100%;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

#range_0,
#range_1,
#range_2 .parent-2,
#range_3 .parent-2{
	.row-xs-height {
    display: block;
  }
  .col-xs-height {
    display: block;
  }
}

/* firefox fix */
.img-responsive {
  width: 100%;
}

/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}