			<footer>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h4>Sitemap</h4>
							<hr>
							<span class="clearfix"></span>
							<div class="sitemap-block">
								[[pdoMenu? &parents=`0` &level=`1` &limit=`4`]]
							</div><!-- /.pull-left -->
							<div class="sitemap-block">
								[[pdoMenu? &parents=`0` &level=`1` &limit=`4` &offset=`4`]]
							</div><!-- /.pull-left -->
							
							<!--<h4>Texas Air Regulations Book</h4>
							<hr>
							<span class="clearfix"></span>
							<img src="/assets/img/elements/Homepage_Book_110x110.png" class="pull-left">
							<p>[[++reg-book-exerpt]]</p>
							<a class="button white" href="[[++reg-book-link]]">Click Here</a>-->
						</div><!-- /.col-md-4 -->
						<span class="clearfix hidden-md hidden-lg"></span>

						<div class="col-md-4 col-md-offset-1">
							
						</div><!-- /.col-md-4 -->
						<span class="clearfix hidden-md hidden-lg"></span>

						<div class="col-md-3">
							<h4>Stay Connected</h4>
							<hr>
							<div class="social-icons">
								[[++fb:notempty=`
									<a class="svg fb" href="[[++fb]]" target="_blank">
										<svg></svg>
										<object class="svg-object" type="image/svg+xml" point-event="none" data="/assets/img/elements/Footer_FacebookIcon_21x21.svg"></object> 
									</a>
								`]]
								[[++twitter:notempty=`
									<a class="svg t" href="[[++twitter]]" target="_blank">
										<svg></svg>
										<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/Footer_TwitterIcon_21x21.svg"></object>
									</a>
								`]]
								[[++google-plus:notempty=`
									<a class="svg g" href="[[++google-plus]]" target="_blank">
										<svg></svg>
										<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/Footer_GooglePlusIcon_21x21.svg"></object>
									</a>
								`]]
								[[++linkedin:notempty=`
									<a class="svg li" href="[[++linkedin]]" target="_blank">
										<svg></svg>
										<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/Footer_LinkedInIcon_21x21.svg"></object>
									</a>
								`]]
							</div><!-- /.social-icons -->
							<span class="clearfix"></span>
							[[++newsletter-link:isnt=``:then=`
							<a class="newsletter" href="[[++newsletter-link]]" target="_blank">Newsletter Signup</a>
							<p>[[++newsletter-description]]</p>
							`]]
						</div><!-- /.col-md-3 -->
						<span class="clearfix hidden-md hidden-lg"></span>

					</div><!-- /.row -->
				</div><!-- /.container -->
				<div class="sub-footer full">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<p>&copy; [[++site_name]]. All Rights Reserved. <a href="[[~9]]" title="Privacy Policy">Privacy Policy</a>.</p>
							</div><!-- /.col-md-9 -->
							<div class="col-md-4">
								<p class="right">
									<a class="bat-signal" target="_blank" href="http://keystoneresources.com/">Design By Keystone Resources</a>
								</p>
							</div><!-- /.col-md-3 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
				</div><!-- /.sub-footer -->
			</footer>
		</div><!--/#content_container-->
    [[$scripts]]
	</body>
</html>