<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-left">
      <div class="drawer_container">
				<nav>[[pdoMenu? &parents=`0` &level=`1` &hideSubMenus=`0` &limit=`0`]]</nav>
      </div><!--/.drawer_container -->
  </div><!--/.snap-drawer left -->
</div><!--/.snap-drawers -->

<div id="content_container">
	<header>
		<div class="container">
			<div class="row nav-row">
					<div class="snap-trigger-left visible-ms visible-sm visible-xs col-ms-2 col-sm-2 col-xs-3">
						<svg></svg> 
						<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/hamburger.svg"></object>
					</div>
				<div class="col-md-3 col-md-offset-0 col-ms-4 col-ms-offset-2 col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-0">
					<a class="svg logo" href="[[~[[++site_start]]]]">
						<object type="image/svg+xml" data="/assets/img/elements/Header_Spirit_Logo_181x62.svg"></object>
					</a><!-- /.svg-container -->
				</div><!-- /.col-lg-3 -->
				<div class="col-md-9">
					<nav class="pull-right">
						[[pdoMenu? &parents=`0` &level=`1` &hideSubMenus=`1` &limit=`0` &outerClass=`hidden-ms hidden-sm hidden-xs`]]
					</nav>
				</div><!-- /.col-md-9 --> 
			</div><!-- /.row -->
		</div><!-- /.container -->
		[[Switch?
			&get=`[[UltimateParent]]`
			&c1=`2`
			&do1=`[[$menu-wwd]]`
			&default=``
		]]
	</header>