[[!FormIt?
			  &hooks=`spam,FormSave,email,redirect`
			  &emailTo=`[[*contact-email]]`
			  &emailTpl=`tpl-email-order-form`
			  &emailSubject=`You have received an application from [[++site_url]]`
			  &emailFrom=`noreply@spiritenv.com`
			  &redirectTo=`10`
			  &fsFormTopic=`order-form`
			  &store=`1`
			  &storeTime=`1800`
			  &validate=`
				  username:blank,
				  firstname:required,
				  lastname:required, 
				  email:email:required,
				  company:required,
				  phone:required,
				  maddress:required,
				  referral:required
				  `
			]]
			[[!FormItRetriever]]
			<form name="contact_form" id="apply-form" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data">
			[[!+fi.successMessage]]
			  <input type="hidden" name="username" value="" />
			  <input type="hidden" name="update[]" value="" />
			  
				<div class="row">
			  <div class="col-md-6 col-ms-6 form-group">
          <label for="firstname">First Name <span class="required">*</span> [[!+fi.error.firstname]]</label>
          <input type="text" class="form-control" id="firstname" name="firstname" value="[[!+fi.firstname]]" required />
        </div><!--/.form-group-->
        <div class="col-md-6 col-ms-6 form-group">
          <label for="lastname">Last Name <span class="required">*</span> [[!+fi.error.lastname]]</label>
          <input type="text" class="form-control" id="lastname" name="lastname" value="[[!+fi.lastname]]" required /> 
        </div><!--/.form-group-->
				</div><!-- /.row -->
				
				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="email">Email <span class="required">*</span> [[!+fi.error.email]]</label>
			      <input type="text" class="form-control" id="email" name="email" value="[[!+fi.email]]" required />
				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="company">Company Name <span class="required">*</span> [[!+fi.error.company]]</label>
			      <input type="text" class="form-control" id="company" name="company" value="[[!+fi.company]]" required />
				  </div><!--/.form-group-->
				</div><!-- /.row -->
				
				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="phone">Phone <span class="required">*</span> [[!+fi.error.phone]]</label>
			      <input type="text" class="form-control" id="phone" name="phone" value="[[!+fi.phone]]" required />
				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="fax">Fax [[!+fi.error.fax]]</label>
			      <input type="text" class="form-control" id="fax" name="fax" value="[[!+fi.fax]]" />
				  </div><!--/.form-group-->
				</div><!-- /.row -->
			
				
				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="maddress">Mailing Address <span class="required">*</span> [[!+fi.error.maddress]]</label>
			      <input type="text" class="form-control" id="maddress"  name="maddress" value="[[!+fi.maddress]]" /> 
				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="baddress">Billing Address (if different) [[!+fi.error.baddress]]</label>
			      <input type="text" class="form-control" id="baddress"  name="baddress" value="[[!+fi.baddress]]" /> 
				  </div><!--/.form-group-->
				</div><!-- /.row -->
				
				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="book">Book [[!+fi.error.book]]</label><br />
			      <input type="checkbox" name="book[]" value="yes" [[!+fi.book:FormItIsChecked=`yes`]] > Full Book <br />

				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="bquantity">Book Quantity [[!+fi.error.bquantity]]</label>
			      <input type="text" class="form-control" id="bquantity" name="bquantity" value="[[!+fi.bquantity]]" />
				  </div><!--/.form-group-->
				</div><!-- /.row -->
				
				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
				    <label>Recent Updates [[!+fi.error.update]]</label><br />
						<input type="checkbox" name="update[]" value="feb2015" [[!+fi.update:FormItIsChecked=`feb2015`]] > February 2015/August 2014 <br />
						<input type="checkbox" name="update[]" value="feb2014" [[!+fi.update:FormItIsChecked=`feb2014`]] > February 2014
				  </div><!--/.form-group-->
				    <div class="col-md-6 col-ms-6 form-group">
				    <label for="uquantity">Quantity of Updates [[!+fi.error.uquantity]]</label>
			      <input type="text" class="form-control" id="uquantity" name="uquantity" value="[[!+fi.uquantity]]" />
				  </div><!--/.form-group-->
				</div><!-- /.row -->
				
				<div class="form-group">
          <label for="referral">How did you hear about us? <span class="required">*</span> [[!+fi.error.referral]]</label>
          <input type="text" class="form-control" id="referral" name="referral" value="[[!+fi.referral]]" required />
        </div><!--/.form-group-->
        
        <div class="form-group center">
		      <input class="button" type="submit" value="Submit" id="form_submit"  />
			  </div><!--/.form-group-->

			
	
			</form>
