<img src="[[+blockImage:phpthumbof=`w=459&h=510&zc=1`]]" alt="[[+blockTitle]]" />
<div class="overlay-info">
	<h4>[[+blockTitle]]</h4>
	<a class="button white" href="[[+blockLink]]" title="[[+blockLinkText]]" target="_blank">[[+blockLinkText]]</a>
</div><!-- /.overlay-info -->