<div class="small-image col-md-6 col-ms-6 col-sm-6 col-xs-6">
	<img src="[[+blockImage]]" />
	<div class="overlay-info">
		<h4>[[+blockTitle]]</h4>
		<p>[[+blockDesc]]</p>
		<a class="button white" href="[[+blockLink]]" title="[[+blockLinkText]]" target="_blank">[[+blockLinkText]]</a>
	</div><!-- /.overlay-info -->
</div><!-- /.small-image -->