[[+children:isnt=`0`:then=`
<li class="parent">
	<span class="title">[[+pagetitle]]</span>
	[[+wrapper]]
</li>
`:else=`
	[[+id:is=`[[*id]]`:then=`
	<li class="parent active">
		<a href="[[~[[+id]]]]">[[+pagetitle]]</a>
		[[+wrapper]]
	</li>
	`:else=`
	<li class="parent">
		<a href="[[~[[+id]]]]">[[+pagetitle]]</a>
		[[+wrapper]]
	</li>
	`]]
`]]




