<div class="col-md-3 col-sm-3 col-xs-12 col-xs-height col-top content-block last_[[+_last]]">
	<h3>[[+infoTitle]]</h3>
	<p class="text-center">[[+infoAddress]]<br />
		p: [[+infoPhone]] &nbsp; [[+infoFax:isnt=``:then=`f: [[+infoFax]]`]]
	</p>
	[[+infoMap:isnt=``:then=`<a class="button" href="[[+infoMap]]" target="_blank">View Map</a>`]]
</div><!--/.col-4-->