<p>
  Full Name: [[+fullname]] <br/><br/>
  E-mail Address: [[+email]] <br/><br/>
  Company: [[+company]] <br/><br/>
  Phone Number: [[+phone]] <br/><br/>
  Location: [[+location]] <br/><br/>
  Message: [[+comments]] <br/>
</p>