[[+postStatus:isnt=``:then=`
<div class="col-md-6 col-sm-6 job-post">
	<h4>[[+postTitle]]</h4>
	<h5>Location: [[+postLocation]]</h5>
	<p>[[+postDesc]]</p>
	<a href="#" class="button popup-trigger">Read More</a>
	<div class="popup-container">
		<div class="popup">
			<a href="#" class="popup-close">X</a>
			<h3>[[+postTitle]]</h3>
			[[+postContent]]
			<a href="[[~33]]" class="button">Apply</a>
		</div><!--/.job-post-popup-->
	</div><!--/.job-post-popup-container-->
</div><!-- /.job-post -->
`]]
