<div class="col-md-4 col-ms-4 [[+idx:isnt=`1`:and:isnt=`2`:then=`team-member`:else=`team-double-row`]]">
	<a href="#" title="[[+teamName]]" class="popup-trigger">
		<img src="[[+teamHeadshot]]" alt="[[+teamName]]" />
		<strong>[[+teamName]]</strong><br />
	</a>
	<div class="popup-container">
		<div class="popup"> 
			<a href="#" class="popup-close">X</a>
			<div class="top">
				<div class="left">
					<img src="[[+teamImage]]" alt="[[+teamName]]" />
				</div><!--/.left-->
				<div class="right">
					<h3>[[+teamName]]</h3>
					<span>[[+teamTitle]]</span>
					<span><strong>Daily Motto</strong></span>
					<span>[[+teamMotto]]</span>
					[[+teamVcard:isnt=``:then=`
					<a href="[[+teamVcard]]" class="icon-vcard" title="Download Vcard">
						<svg></svg>
						<object class="svg-object" type="image/svg+xml" point-event="none" data="/assets/img/elements/OurStory_ContactIcon_24x22.svg"></object> 
					</a>
					`]]
					[[+teamEmail:isnt=``:then=`
					<a href="mailto:[[+teamEmail]]" class="icon-mail" title="Email [[+teamName]]">
						<svg></svg>
						<object class="svg-object" type="image/svg+xml" point-event="none" data="/assets/img/elements/OurStory_MailIcon_28x19.svg"></object> 
					</a>
					`]]
				</div><!--/right-->
			</div><!--/.top--->
			
			<div class="bottom">
				[[+teamBio]]
			</div>
		</div><!--/.job-post-popup-->
	</div><!--/.job-post-popup-container-->
	[[+teamTitle:isnt=``:then=`[[+teamTitle]]<br />`]]
	[[+teamPhone:isnt=``:then=`Direct: [[+teamPhone]]<br />`]]
	[[+teamVcard:isnt=``:then=`<a href="[[+teamVcard]]" class="icon-vcard" title="Download Vcard"></a>`]]
	[[+teamEmail:isnt=``:then=`<a href="mailto:[[+teamEmail]]" class="icon-mail" title="Email [[+teamName]]"></a> `]]
</div><!-- /.col=md-4 --> 