<p>
  First Name: [[+firstname]] <br/><br/>
  Last Name: [[+lastname]] <br/><br/>
  Referral: [[+referral]] <br/><br/>
  Email: [[+email]] <br/><br/>
  Phone: [[+phone]] <br/><br/> 
  Application Date: [[+app-date]] <br/><br/>
  Available Start Date: [[+start-date]] <br/><br/>
  Current Company or College: [[+current-co]] <br/><br/>
  Current Position: [[+current-pos]] <br/><br/>
  Degree: [[+degree-type]] <br/><br/>
  Position of Interest: [[+position]] <br/><br/>
  Why are you interested in Spirit and this position?: [[+position-why]] <br/><br/>
  Qualifications: [[+qualifications]] <br/><br/>
  Attachments: [[+resume]] [[+cover-letter]] [[+degree]]<br/><br/> 
</p>
