<p>
  First Name: [[+firstname]] <br/><br/>
  Last Name: [[+lastname]] <br/><br/>
  Email: [[+email]] <br/><br/>
  Company: [[+company]] <br/><br/>
  Phone: [[+phone]] <br/><br/>
  Fax: [[+fax]] <br/><br/>
  Mailing Address: [[+maddress]] <br/><br/>
  Billing Address: [[+baddress]] <br/><br/>
  Full Book: [[+book]] <br/><br/>
  Book Quantity: [[+bquantity]] <br/><br/>
  Update: [[+update]] <br/><br/>
  Update Quantity: [[+uquantity]] <br/><br/>
  Referral: [[+referral]] <br/>
</p>