<div class="col-md-4 col-sm-4 col-xs-12 col-xs-height col-top content-block last_[[+_last]] text-center">
	<h3>[[+extraTitle]]</h3>	 
	<a href="[[+extraLink]]" class="button">[[+extraLinktext]]</a>
</div><!--/.col-md-4-->  