[[$head]]
[[$header]]

<div class="banner full small backstretch-target">
	<img id="backstretch-src" class="hidden" src="[[*banner-image]]"/>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="content-block-wrapper full contact-info">
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				[[!getImageList?
		      &tvname=`MIGX-contact-info`
		      &tpl=`tpl-migx-contact-info`
		    ]]
			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="banner-content">
					[[*content]]
					<a href="#" class="button popup-trigger">Email us</a>
					<div class="popup-container full">
						<div class="popup">
							<a href="#" class="popup-close">X</a>
							<h1>Contact</h1>
							[[!FormIt?
                &hooks=`spam,fiProcessArrays,FormSave,email,redirect`
                &emailTo=`[[*contact-email]]`
                &emailTpl=`tpl-email-contact`
                &emailSubject=`You have received a submission from [[++site_url]]`
                &emailFrom=`noreply@spiritenv.com`
                &clearFieldsOnSuccess=`0`
                &successMessage=`<span class="success">Your form has been submitted.</span>`
                &fsFormTopic=`contact`
                &redirectTo=`10`
                &store=`1`
                &storeTime=`1800`
                &validate=`
                username:blank,
                email:email:required,
                fullname:required,
                comments:required`
              ]]
              [[!FormItRetriever]]
              <form class="form-horizontal" name="contact_form" id="contact-form" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data">
              [[!+fi.successMessage]]
	              <input type="hidden" name="username" value="" />

	              <div class="control-group">
	                <label class="control-label" for="fullname">Full Name <span class="required">*</span></label>
	                <div class="controls">
	                  <input type="text" id="fullname"  name="fullname" value="[[!+fi.fullname]]" placeholder="Full Name" required>
	                  [[!+fi.error.fullname]]
	                </div><!--/.controls-->
	              </div><!--/.control-group-->

	              <div class="control-group">
	                <label class="control-label" for="email">Email <span class="required">*</span></label>
                  <div class="controls">
                    <input type="text" id="email" name="email" value="[[!+fi.email]]" placeholder="Email" required>
                    [[!+fi.error.email]]
                  </div><!--/.controls-->
                </div><!--/.control-group-->

	              <div class="control-group">
	              	<label class="control-label" for="company">Company</label>
	                <div class="controls">
	                  <input type="text" id="company"  name="company" value="[[!+fi.company]]" placeholder="Company">
	                  [[!+fi.error.company]]
	                </div><!--/.controls-->
	              </div><!--/.control-group-->

	              <div class="control-group">
	              <label class="control-label" for="phone">Phone</label>
	                <div class="controls">
	                  <input type="text" id="phone"  name="phone" value="[[!+fi.phone]]" placeholder="Phone">
	                  [[!+fi.error.phone]]
	                </div><!--/.controls-->
	              </div><!--/.control-group-->

	              <div class="control-group">
	              <label class="control-label" for="location">Location</label>
	                <div class="controls">
	                  <input type="text" id="location"  name="location" value="[[!+fi.location]]" placeholder="Location">
	                  [[!+fi.error.location]]
	                </div><!--/.controls-->
	              </div><!--/.control-group-->

	              <div class="control-group">
	                <label class="control-label" for="comments">Message *</label>
	                <div class="controls">
	                  <textarea rows="5" id="comments" name="comments" type="text" placeholder="How can we help you?" required>[[!+fi.comments]]</textarea>
	                  [[!+fi.error.comments]]
	                </div><!--/.controls-->
	              </div><!--/.control-group-->

                <div class="control-group">
                  <div class="controls">
                    <input type="submit" value="Submit" id="form_submit"  />
                  </div><!--/.controls-->
                </div><!--/.control-group-->
              </form>
						</div><!--/.job-post-popup-->
					</div><!--/.job-post-popup-container-->

				</div><!-- /.banner-content -->
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="content-block-wrapper full contact-extra">
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				[[!getImageList?
		      &tvname=`MIGX-contact-extra`
		      &tpl=`tpl-migx-contact-extra`
		    ]]
			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->



[[$footer]]