[[$head]]
[[$header]]

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="container content">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			[[*content]]
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
	<div class="row apply-form-row">
		<div class="col-md-10 col-md-offset-1">
			[[!FormIt?
			  &hooks=`spam,FormSave,email,redirect`
			  &emailTo=`[[*contact-email]]`
			  &emailTpl=`tpl-email-application`
			  &emailSubject=`You have received an application from [[++site_url]]`
			  &emailFrom=`noreply@spiritenv.com`
			  &redirectTo=`10`
			  &fsFormTopic=`application`
			  &store=`1`
			  &storeTime=`1800`
			  &validate=`
				  username:blank,
				  firstname:required,
				  lastname:required,
				  referral:required, 
				  email:email:required,
				  phone:required,
				  app-date:required,
				  start-date:required,
				  current-co:required,
				  current-pos:required,
				  degree-type:required,
				  position:required, 
				  position-why:required,
				  qualifications:required,
				  resume:required,
				  cover-letter:required`
			]]
			[[!FormItRetriever]]
			<form name="contact_form" id="apply-form" method="post" action="[[~[[*id]]]]" enctype="multipart/form-data">
			[[!+fi.successMessage]]
			  <input type="hidden" name="username" value="" />

				<h3>Information &amp; Qualifications</h3>

				<div class="row">
			  <div class="col-md-6 col-ms-6 form-group">
          <label for="firstname">First Name <span class="required">*</span> [[!+fi.error.firstname]]</label>
          <input type="text" class="form-control" id="firstname" name="firstname" value="[[!+fi.firstname]]" required />
        </div><!--/.form-group-->
        <div class="col-md-6 col-ms-6 form-group">
          <label for="lastname">Last Name <span class="required">*</span> [[!+fi.error.lastname]]</label>
          <input type="text" class="form-control" id="lastname" name="lastname" value="[[!+fi.lastname]]" required />
        </div><!--/.form-group-->
				</div><!-- /.row -->

        <div class="form-group">
          <label for="referral">How did you hear about us? <span class="required">*</span> [[!+fi.error.referral]]</label>
          <input type="text" class="form-control" id="referral" name="referral" value="[[!+fi.referral]]" required />
        </div><!--/.form-group-->

				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
				    <label for="email">Email <span class="required">*</span> [[!+fi.error.email]]</label>
			      <input type="text" class="form-control" id="email" name="email" value="[[!+fi.email]]" required />
				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="phone">Phone <span class="required">*</span> [[!+fi.error.phone]]</label>
			      <input type="text" class="form-control" id="phone"  name="phone" value="[[!+fi.phone]]" required />
				  </div><!--/.form-group-->
				</div><!-- /.row -->

				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="app-date">Application Date <span class="required">*</span> [[!+fi.error.app-date]]</label>
			      <input type="text" class="form-control" id="app-date"  name="app-date" value="[[!+fi.app-date]]" required />
				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="start-date">Available Start Date <span class="required">*</span> [[!+fi.error.start-date]]</label>
			      <input type="text" class="form-control" id="start-date"  name="start-date" value="[[!+fi.start-date]]" required />
				  </div><!--/.form-group-->
				</div><!-- /.row -->

				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="current-co">Current Company or College <span class="required">*</span> [[!+fi.error.current-co]]</label>
			      <input type="text" class="form-control" id="current-co"  name="current-co" value="[[!+fi.current-co]]" required>
				  </div><!--/.form-group-->
					<div class="col-md-6 col-ms-6 form-group">
					  <label for="current-pos">Current Position <span class="required">*</span> [[!+fi.error.current-pos]]</label>
			      <input type="text" class="form-control" id="current-pos"  name="current-pos" value="[[!+fi.current-pos]]" required />
				  </div><!--/.form-group-->
				</div><!-- /.row -->

				<div class="row">
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="degree-type">Degree <span class="required">*</span> [[!+fi.error.degree-type]]</label>
			      <input type="text" class="form-control" id="degree-type"  name="degree-type" value="[[!+fi.degree-type]]" required>
				  </div><!--/.form-group-->
				  <div class="col-md-6 col-ms-6 form-group">
					  <label for="position">Position of Interest <span class="required">*</span> [[!+fi.error.position]]</label>
			      <input type="text" class="form-control" id="position"  name="position" value="[[!+fi.position]]" required />
				  </div><!--/.form-group-->
				</div><!-- /.row -->

			  <div class="form-group">
				  <label for="position-why">Why are you interested in Spirit and this position? <span class="required">*</span> [[!+fi.error.position-why]]</label>
		      <textarea type="text" class="form-control" id="position-why"  name="position-why" rows="5" required>[[!+fi.position-why]]</textarea>
			  </div><!--/.form-group-->

			  <div class="form-group">
				  <label for="qualifications">Please elaborate on your qualifications for this position <span class="required">*</span> [[!+fi.error.qualifications]]</label>
		      <textarea type="text" class="form-control" id="qualifications"  name="qualifications" rows="5" required>[[!+fi.qualifications]]</textarea>
			  </div><!--/.form-group-->

				<h3>Please attach your resume, cover letter, copy of your transcript (if applies).</h3>

				<div class="form-group">
				  <label for="resume">Resume <span class="required">*</span> [[!+fi.error.resume]]</label>
		      <input type="file" class="form-control" id="resume"  name="resume" value="[[!+fi.resume]]" required />
				</div><!--/.form-group-->
				<div class="form-group">
		      <label for="cover-letter">Cover Letter <span class="required">*</span> [[!+fi.error.cover-letter]]</label>
		      <input type="file" class="form-control" id="cover-letter"  name="cover-letter" value="[[!+fi.cover-letter]]" required />
	      </div><!--/.form-group-->
				<div class="form-group">
		      <label for="degree">Transcript [[!+fi.error.degree]]</label>
		      <input type="file" class="form-control" id="degree"  name="degree" value="[[!+fi.degree]]" />
			  </div><!--/.form-group-->

			  <div class="form-group center">
		      <input class="button" type="submit" value="Submit Application" id="form_submit"  />
			  </div><!--/.form-group-->
			</form>
		</div><!-- /.col-md-10 -->
	</div><!-- /.row -->

</div><!-- /.content -->

[[*content-cta-1-title:notempty=`
	<div class="content-block-wrapper full bottom solo">
		<div class="container">
			<div class="row">
				<div class="row-xs-height">
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
						<h3>[[*content-cta-1-title]]</h3>
						<p>[[*content-cta-1-content]]</p>
						<a class="button" href="[[*content-cta-1-link]]">[[*content-cta-1-link-text]]</a>
					</div><!--/.col-4-->
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
						<h3>[[*content-cta-2-title]]</h3>
						<p>[[*content-cta-2-content]]</p>
						<a class="button" href="[[*content-cta-2-link]]">[[*content-cta-2-link-text]]</a>
					</div><!--/.col-4-->
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block last">
						<h3>[[*content-cta-3-title]]</h3>
						<p>[[*content-cta-3-content]]</p>
						<a class="button" href="[[*content-cta-3-link]]">[[*content-cta-3-link-text]]</a>
					</div><!--/.col4-->
				</div><!-- /.row-xs-height -->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!-- /. content-block-wrapper -->
`]]

[[$footer]]