[[$head]]
[[$header]]

<div class="banner full small backstretch-target">
	<img id="backstretch-src" class="hidden" src="[[*banner-image]]"/>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					[[*content]]
				</div><!-- /.banner-content -->
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="content-block-wrapper full general-extra">
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				[[-!getImageList?
		      &tvname=`MIGX-contact-extra`
		      &tpl=`tpl-migx-contact-extra`
		    ]]
			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->



[[$footer]]