[[$head]]
[[$header]]
<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<h2 class="tagline">[[*introtext]]</h2>
				<div class="banner-content paragraphs">
					[[*content]]
				</div><!-- /.banner-content -->
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<section class="image-blocks">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-ms-6 col-sm-12 col-xs-12 main-image">
					[[!getImageList?
			      &tvname=`MIGX-image-blocks`
			      &tpl=`tpl-migx-image-blocks-featured`
			      &limit=`1`
			    ]]
			</div><!-- /.main-image -->

			<div class="col-md-6 col-ms-6 col-sm-12 col-xs-12 iamge-grid">
				<div class="row">
					[[!getImageList?
			      &tvname=`MIGX-image-blocks`
			      &tpl=`tpl-migx-image-blocks`
			      &limit=`4`
			      &offset=`1`
			    ]]
				</div><!-- /.row -->
			</div><!-- /.image-grid -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.image-blocks -->

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>[[*story-extra-title]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-content paragraphs">
					[[*story-extra-content]]
				</div><!-- /.banner-content -->
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div id="leadership" class="container">
	<div class="row team">
		[[!getImageList?
      &tvname=`MIGX-team`
      &tpl=`tpl-migx-team`
    ]]
	</div><!-- /.row -->
</div><!--/.container-->

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12 testimonial">
				<span class="icon-quote">&ldquo;</span>
				 [[*story-testimonial-quote]]
				 <span class="name">- [[*story-testimonial-author]]</span>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->


[[$footer]]