[[$head]]
[[$header]]
<!--
<div class="container content">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			[[*content]] 
		</div><!-- /.col-md-12
	</div><!-- /.row 
</div><!-- /.content 
-->

<div class="banner full small backstretch-target">
	<img id="backstretch-src" class="hidden" src="[[*banner-image:isempty=`/assets/img/elements/Homepage_FullImage_560x510.png`]]"/>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="container content">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			[[*content]] 
		</div><!-- /.col-md-12 -->
	</div><!-- /.row  -->
</div><!-- /.content -->

[[*content-cta-1-title:notempty=` 
	<div class="content-block-wrapper full bottom solo">
		<div class="container">
			<div class="row">
				<div class="row-xs-height">
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
						<h3>[[*content-cta-1-title]]</h3>
						<p>[[*content-cta-1-content]]</p>
						<a class="button" href="[[*content-cta-1-link]]">[[*content-cta-1-link-text]]</a>
					</div><!--/.col-4-->
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
						<h3>[[*content-cta-2-title]]</h3>
						<p>[[*content-cta-2-content]]</p>
						<a class="button" href="[[*content-cta-2-link]]">[[*content-cta-2-link-text]]</a>
					</div><!--/.col-4-->
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block last">
						<h3>[[*content-cta-3-title]]</h3>
						<p>[[*content-cta-3-content]]</p>
						<a class="button" href="[[*content-cta-3-link]]">[[*content-cta-3-link-text]]</a>
					</div><!--/.col4-->
				</div><!-- /.row-xs-height -->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!-- /. content-block-wrapper -->
`]]

[[$footer]]