[[$head]]
[[$header]]
<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<h2 class="tagline">[[*introtext]]</h2>
				<div class="banner-content paragraphs">
					[[*content]]
				</div><!-- /.banner-content -->
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<section class="image-blocks">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-ms-6 col-sm-12 col-xs-12 main-image">
					[[!getImageList?
			      &tvname=`MIGX-image-blocks`
			      &tpl=`tpl-migx-image-blocks-featured`
			      &limit=`1`
			    ]]
			</div><!-- /.main-image -->

			<div class="col-md-6 col-ms-6 col-sm-12 col-xs-12 iamge-grid">
				<div class="row">
					[[!getImageList?
			      &tvname=`MIGX-image-blocks`
			      &tpl=`tpl-migx-image-blocks`
			      &limit=`4`
			      &offset=`1`
			    ]]
				</div><!-- /.row -->
			</div><!-- /.image-grid -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.image-blocks -->

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>[[*hire-extra-title]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-content-condensed">
					[[*hire-extra-content]]
				</div><!-- /.banner-content -->
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="awards-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Recent Awards</h3>
			</div><!--/.col-xs-12-->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-xs-1">
				<div class="arrow prev text-hide">Previous</div>
			</div><!--/.col-xs-1-->
			<div class="col-xs-10 rotator">
				[[!getImageList?
		      &tvname=`MIGX-awards`
		      &tpl=`tpl-migx-awards`
		    ]]
			</div><!-- /.col-xs-10 rotator -->
			<div class="col-xs-1">
				<div class="arrow next text-hide">Next</div>
			</div><!--/.col-md-1-->
		</div><!--,row-->
	</div><!-- /.container -->
</div><!-- /.awards-wrapper -->

<div id="jobs" class="container">
	<div class="row">
		<div class="col-md-12 ">
			<h3>[[*job-postings-title]]</h3>
			[[*job-postings-content]]
		</div><!-- /.col-md-10 -->
	</div><!-- /.row -->

	<div class="row job-posts-container">
		[[!getImageList?
      &tvname=`MIGX-job-postings`
      &tpl=`tpl-migx-job-postings`
    ]]
	</div><!-- /.row .job-posts-container -->
</div><!-- /.container -->

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>By the Numbers</h3>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row numbers-container">
			[[!getImageList?
	      &tvname=`MIGX-numbers`
	      &tpl=`tpl-migx-numbers`
	    ]]
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

[[$footer]]