[[$head]]
[[$header]]

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="container content">
	<div class="row">
		<div class="col-md-5 col-ms-6 col-md-offset-1">
			<img src="/assets/img/elements/orderform_texasairregbook_229x216.png" />
		</div><!--/col-->
		<div class="col-md-5 col-ms-6">
			[[*content]]
		</div><!-- /.col-md-10 -->
	</div><!-- /.row -->
	<div class="row apply-form-row">
		<div class="col-md-10 col-md-offset-1">
			[[*reg-book-form]]
		</div><!-- /.col-md-10 -->
	</div><!-- /.row -->

</div><!-- /.content -->

[[*content-cta-1-title:notempty=`
	<div class="content-block-wrapper full bottom solo">
		<div class="container">
			<div class="row">
				<div class="row-xs-height">
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
						<h3>[[*content-cta-1-title]]</h3>
						<p>[[*content-cta-1-content]]</p>
						<a class="button" href="[[*content-cta-1-link]]">[[*content-cta-1-link-text]]</a>
					</div><!--/.col-4-->
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
						<h3>[[*content-cta-2-title]]</h3>
						<p>[[*content-cta-2-content]]</p>
						<a class="button" href="[[*content-cta-2-link]]">[[*content-cta-2-link-text]]</a>
					</div><!--/.col-4-->
					<div class="col-md-4 col-sm-12 col-xs-height col-top content-block last">
						<h3>[[*content-cta-3-title]]</h3>
						<p>[[*content-cta-3-content]]</p>
						<a class="button" href="[[*content-cta-3-link]]">[[*content-cta-3-link-text]]</a>
					</div><!--/.col4-->
				</div><!-- /.row-xs-height -->
			</div><!--/.row-->
		</div><!--/.container-->
	</div><!-- /. content-block-wrapper -->
`]]

[[$footer]]