[[$head]]
[[$header]]
<div class="banner full small backstretch-target">
	<img id="backstretch-src" class="hidden" src="[[*banner-image]]"/>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[[*pagetitle]]</h1>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="content-block-wrapper full wwd-first"> 
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
					<h3>[[!pdoResources? &resources=`12` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`12` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~12]]">Read more</a>
				</div><!--/.col-4-->
				<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
					<h3>[[!pdoResources? &resources=`14` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`14` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~14]]">Read more</a>
				</div><!--/.col-4-->
				<div class="col-md-4 col-sm-12 col-xs-height col-top content-block last">
					<h3>[[!pdoResources? &resources=`16` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`16` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~16]]">Read more</a>
				</div><!--/.col4-->
			</div><!-- /.row-xs-height -->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->

<div class="content-block-wrapper full">
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				<div class="col-md-6 col-sm-12 col-xs-height col-top content-block">
					<h3>[[!pdoResources? &resources=`13` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`13` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~13]]">Read more</a>
				</div><!--/.col6-->
				<div class="col-md-6 col-sm-12 col-xs-height col-top content-block last">
					<h3>[[!pdoResources? &resources=`48` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`48` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~48]]">Read more</a>
				</div><!--/.col6-->
			</div><!-- /.row-xs-height -->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->

<div class="content-block-wrapper full">
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
					<h3>[[!pdoResources? &resources=`15` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`15` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~15]]">Read more</a>
				</div><!--/.col-4-->
				<div class="col-md-4 col-sm-12 col-xs-height col-top content-block">
					<h3>[[!pdoResources? &resources=`51` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`51` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~51]]">Read more</a>
				</div><!--/.col-4-->
				<div class="col-md-4 col-sm-12 col-xs-height col-top content-block last">
					<h3>[[!pdoResources? &resources=`17` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`17` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~17]]">Read more</a>
				</div><!--/.col4-->
			</div><!-- /.row-xs-height -->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->

<div class="content-block-wrapper full">
	<div class="container"> 
		<div class="row">
			<div class="row-xs-height">
				<div class="col-md-6 col-sm-12 col-xs-height col-top content-block">
					<h3>[[!pdoResources? &resources=`18` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`18` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p>
					<a class="button" href="[[~18]]">Read more</a>
				</div><!--/.col6-->
				<div class="col-md-6 col-sm-12 col-xs-height col-top content-block last">
					<h3>[[!pdoResources? &resources=`60` &tpl=`@INLINE [[+pagetitle]]` &fastMode=`1`]]</h3>
					<p>[[!pdoResources? &resources=`60` &tpl=`@INLINE [[+introtext]]` &fastMode=`1`]]</p> 
					<a class="button" href="[[~60]]">Read more</a>
				</div><!--/.col6-->
			</div><!-- /.row-xs-height -->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->

<div class="content-block-wrapper full bottom">
	<div class="container"> 
		<div class="row">
			<div class="row-xs-height">
				<div class="col-md-12 col-sm-12 col-xs-height col-top content-block last">
					<h3>[[!pdoResources? &resources=`5` &parents=`0` &tpl=`@INLINE [[+pagetitle]]` ]]</h3>
					<p>[[!pdoResources? &resources=`5` &parents=`0` &processTVs=`1` &includeTVs=`serve-alt-description` &tpl=`@INLINE [[+tv.serve-alt-description]]`]]</p> 
					<a class="button" href="[[~5]]">Read more</a>
				</div><!--/.col6-->
			</div><!-- /.row-xs-height -->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->



[[$footer]]