[[$head]]
[[$header]]
<div class="banner homepage full backstretch-target">
	<div class="container">
		<img id="backstretch-src" class="hidden" src="[[*banner-image]]"/>
		<div class="row">
			<div class="col-md-12">
				<h1>[[*longtitle]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="tagline">[[*introtext]]</h2>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->

<div class="content-block-wrapper full homepage">
	<div class="container">
		<div class="row">
			<div class="row-xs-height">
				<div class="col-md-4 col-sm-4 col-xs-12 col-xs-height col-top content-block">
					<h3>[[*home-cta-1-title]]</h3>
					<p>[[*home-cta-1-content]]</p>
					<a class="button" href="[[*home-cta-1-link]]">[[*home-cta-1-link-text]]</a>
				</div><!--/.col-4-->
				<div class="col-md-4 col-sm-4 col-xs-12 col-xs-height col-top content-block">
					<h3>[[*home-cta-2-title]]</h3>
					<p>[[*home-cta-2-content]]</p>
					<a class="button" href="[[*home-cta-2-link]]">[[*home-cta-2-link-text]]</a>
				</div><!--/.col-4-->
				<div class="col-md-4 col-sm-4 col-xs-12 col-xs-height col-top content-block last">
					<h3>[[*home-cta-3-title]]</h3>
					<p>[[*home-cta-3-content]]</p>
					<a class="button" href="[[*home-cta-3-link]]">[[*home-cta-3-link-text]]</a>
				</div><!--/.col4-->
			</div><!-- /.row-xs-height -->
		</div><!--/.row-->
	</div><!--/.container-->
</div><!-- /. content-block-wrapper -->
<div class="container">
	<div class="row">
		<div class="col-md-12 content-block content-block-large">
			<h3>[[*home-cta-4-title]]</h3>
			<p>[[*home-cta-4-content]]</p>
			<a class="button" href="[[*home-cta-4-link]]">[[*home-cta-4-link-text]]</a>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->
[[$footer]]