[[$head]]
[[$header]]
<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
			</div><!--/.col12-->
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<h2 class="tagline">[[*introtext]]</h2>
			</div><!-- /.col=md-10 -->
		</div><!-- /.row -->
		<div class="row state-map">
			<div class="col-xs-12">
				<img class="svgServe weServe" src="assets/img/elements/who-we-serve.svg" /> 
			</div><!-- /.col=xs-12-->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->



<div class="container">
	<div class="row">
		<div class="col-md-12">
			[[*content]]
		</div><!-- /.col-md-10 -->
	</div><!-- /.row -->
	<div class="row serve-lists">
		[[!getImageList?
      &tvname=`MIGX-serve-lists`
      &tpl=`@CODE:<div class="col-md-6 col-ms-6"><h3>[[+listTitle]]</h3>[[+listContent]]</div>`
      &limit=`2`
    ]]
    
    [[!getImageList?
      &tvname=`MIGX-serve-lists`
      &tpl=`@CODE:<div class="col-md-4 col-ms-4"><h3>[[+listTitle]]</h3>[[+listContent]]</div>`
      &limit=`3`
      &offset=`2`
    ]]
    
    [[!getImageList?
      &tvname=`MIGX-serve-lists`
      &tpl=`@CODE:<div class="col-md-6 col-ms-6"><h3>[[+listTitle]]</h3>[[+listContent]]</div>`
      &limit=`2`
      &offset=`5`
    ]]
    
	</div><!-- /.row -->
</div><!-- /.container -->

<div class="banner full">
	<div class="container">
		<div class="row">
			<div class="col-md-6 testimonial">
				<span class="icon-quote">&ldquo;</span>
				 [[*serve-testimonial-quote-1]]
				 <span class="name">- [[*serve-testimonial-author-1]]</span>
			</div><!-- /.col=md-6 -->
			<div class="col-md-6 testimonial">
				<span class="icon-quote hidden-sm hidden-xs">&ldquo;</span>
				 [[*serve-testimonial-quote-2]]
				 <span class="name">- [[*serve-testimonial-author-2]]</span>
			</div><!-- /.col=md-6 -->
		</div><!-- /.row -->
	</div><!--/.container-->
</div><!-- /.banner -->


[[$footer]]